.object-edit-bar{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 16px;
}

.object-editor-head{
    height:36px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
    border-radius: 16px 16px 0 0;
    font-size: 14px;
    font-weight: 700;
}

.object-editor-container{
    padding: 8px;
}

.editor-option-heading{
    font-size: 14px;
    font-weight: 700;
}

.editor-action-container{
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    gap:6px;
    align-items: stretch;
    margin-top: 2px;
}

.editor-button, .editor-input{
    flex: 1;
    min-width: 0;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    height: 24px;
}

.editor-button{
    font-weight: 700;
}
.editor-input{
    padding: 0;
}
/* .editor-button{
    width: 50px;
}
.editor-input{
    width: 50px;
} */